.btn {
  border: none;
  border-radius: 0;
  margin-left: 0.3rem;
}

.btn-primary {
  background-color: $black;
  color: $white;

  &:hover {
    color: $black;
    background-color: $primary;
  }

  &:active {
    background-color: $black;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $primary;
  }
}
