@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/saira/Saira-Medium-subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/saira/Saira-MediumItalic-subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/saira/Saira-Bold-subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/saira/Saira-BoldItalic-subset.woff2') format('woff2');
}
